@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

:root {
    font-family: 'Red Hat Display', sans-serif;
}

body {
    background-image: url('/images/pattern-background-desktop.svg'), linear-gradient(hsl(225, 100%, 94%), hsl(225, 100%, 94%));
    background-repeat: no-repeat;
    background-size: contain;
    height: 100vh;
}

h2,
h3 {
    color: hsl(223, 47%, 23%);
}

p,
button {
    color: hsl(224, 23%, 55%);
}

button {
    width: 100%;
    border: none;
    outline: none;
    background-color: white;
    cursor: pointer;
}

a {
    color: hsl(245, 75%, 52%);
}

a:hover {
    color: hsl(245, 40%, 52%);
    text-decoration: none;
}

.main-card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 98vh;
}

.card {
    box-shadow: 5px 5px 15px hsl(224, 23%, 55%);
    background-color: white;
    width: 450px;
    height: 700px;
    border-radius: 10px;
}

.card .card-img img {
    border-radius: 10px 10px 0 0;
}

.card-description {
    margin: 0 45px 0;
}

.card .card-text p,
.card .card-text h2 {
    margin: 20px 0 20px;
    font-size: 18px;
    text-align: center;
    line-height: 1.5;

}

.card .card-text h2 {
    font-size: 2em;
}

.buy-music {
    background-color: hsl(225, 100%, 98%);
    border-radius: 10px;
    padding: 19px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buy-music .name-music_and_price {
    margin: 0 100px 0 0;
}

.buy-music .name-music_and_price h3 {
    padding: 0 0 10px 0;
}

.button-price button:nth-child(1) {
    margin: 50px 0 25px;
    background-color: hsl(245, 75%, 52%);
    padding: 15px;
    color: white;
    border-radius: 10px;
    box-shadow: 0 15px 10px hsl(225, 100%, 94%);
}

.button-price button:nth-child(1):hover {
    background-color: hsl(245, 40%, 52%);
}

.button-price button:nth-child(2):hover {
    color: hsl(223, 47%, 23%);
}

@media screen and (max-width:475px) {
    body {
        background-image: url('/images/pattern-background-mobile.svg'), linear-gradient(hsl(225, 100%, 94%), hsl(225, 100%, 94%));
    }

    .card {
        width: 100%;
    }

    .card .card-img img {
        width: 100%;
    }

    .card .card-text p{
        font-size: 16px;
    }

    .card-description{
        margin: 0 20px 0;
    }
    .buy-music .name-music_and_price {
        margin: 0 0 0;
    }
}